.container_user_log {
	margin: 15px auto;
	width: 70%;
}

.container_log {
	width: 290px;
	padding-top: 50px;
}

.container_log a {
	display: block;
	width: 50%;
	margin: 0 auto 25px auto;
}

.container_log image {
	width: 100%;
}

.container_choice_user {
	display: flex;
	justify-content: space-around;
}

.container_choice_user p {
	width: 100%;
	text-align: center;
}

.remember_checkbox {
	width: 80px;
	opacity: 1 !important;
	pointer-events: auto !important;
	position: relative !important;
}

.formulaire_user_log {
	padding: 5px;
}

.bottum_validation_inscription {
	margin-top: 10px !important;
}

.bottum_validation_log {
	width: 60%;
	height: 30px;
	line-height: 28px;
	margin-bottom: 5px !important;
	background: #0085ba;
	border: 1px solid #006799;
	border-radius: 3px;
}

/*NAVIGATEUR*/

.sidenav_menu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.2s;
	padding-top: 60px;
}

.sidenav_menu .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.sidenav_menu a {
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.color_a a {
	color: #3a3a3a;
	font-weight: 600;
}

.destock_menu {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.2s;
	padding-top: 60px;
}

.logo_menu {
	margin-top: 15px;
}

.logo_menu_mobile {
	margin: auto !important;
	height: 150px !important;
}

.font_size {
	font-size: 1.3em !important;
}

.buttom_nav {
	margin: 10px 0px;
	cursor: pointer;
}

