select {
	display: block !important;
}

body {
	background-color: #ecf0f5;
}

label {
	color: black !important;
}

label, p, h1, h2, h3, h4, h5, h6, input, a, img , li , i, span{
	user-select: none !important;
	-moz-user-select: none;
}