/*GENERAL*/

select {
	display: block !important;
}

body {
	background-color: #ecf0f5;
}

label {
	color: black !important;
}

/*LOGIN*/

.container_user_log {
	margin: 15px auto;
	width: 70%;
}

.container_log {
	width: 290px;
	padding-top: 50px;
}




.container_index_form {
	margin: auto;
	float: none !important;
}

.container_index_form img {
	height: 100%;
	width: 100%;
	margin-top: 10px;
}

.logo_association {
	width: 80%;
	margin: auto;
}

.remember_checkbox {
	opacity: 100 !important;
	pointer-events: auto !important;
}

/*ACCUEIL*/

/*NAVIGATEUR*/

.sidenav_menu {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.2s;
	padding-top: 60px;
}

.sidenav_menu .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.sidenav_menu a {
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.color_a a {
	color: #3a3a3a;
	font-weight: 600;
}

.destock_menu {
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.2s;
	padding-top: 60px;
}

.logo_menu {
	margin-top: 15px;
}

.logo_menu_mobile {
	margin: auto !important;
	height: 150px !important;
}

.font_size {
	font-size: 1.3em !important;
}

.buttom_nav {
	margin: 10px 0px;
	cursor: pointer;
}

