.container_user_log {
	margin: 15px auto;
	width: 70%;
}

.container_log {
	width: 290px;
	padding-top: 50px;
}

.container_log a {
	display: block;
	width: 50%;
	margin: 0 auto 25px auto;
}

.container_log image {
	width: 100%;
}

.container_choice_user {
	display: flex;
	justify-content: space-around;
}

.container_choice_user p {
	width: 100%;
	text-align: center;
}

.remember_checkbox {
	width: 80px;
	opacity: 1 !important;
	pointer-events: auto !important;
	position: relative !important;
}

.formulaire_user_log {
	padding: 5px;
}

.bottum_validation_inscription {
	margin-top: 10px !important;
}

.bottum_validation_log {
	width: 60%;
	height: 30px;
	line-height: 28px;
	margin-bottom: 5px !important;
	background: #0085ba;
	border: 1px solid #006799;
	border-radius: 3px;
}
