<!-- MODAL VERSION -->

<div id = 'myModal-version' class = 'modal_css'>
	<!-- CONTENT -->
	<div class = 'modal-content'>
		
		<!-- VERSION 2.0.0 -->
		<div>
			<div class = 'collapsible-header cursor-pointer' onclick = "collapsible('version','1')"
			     data-collapsible = 'accordion'>
				<p class = 'title_version valign-wrapper un-surlign'>Version 2.0</p>
			</div>
			<div id = 'collaps-version-1' class = 'collapsible-body collapsible-body-version'>
				<p>Informations : </p>
				<p class = 'content_informations_version'>Lancement du Site Gaming Palois</p>
				<p>Feature :</p>
				<p class = 'content_informations_version'>
					-Système de connexion/deconnexion<br>
					-Création de compte pour les Managers<br>
					-Ajout des résultats finaux d'un évènement<br>
					-Affichage des informations lié aux divers évènements<br>
				</p>
				<p>A venir :</p>
				<p class = 'content_informations_version'>
					-Plein de bonnes choses !
				</p>
			</div>
		</div>
		<!-- END VERSION 2.0.0 -->
	
	</div>
</div>

<!-- END MODAL VERSION-->

<!-- NAVIGATEUR -->

<nav id = 'mySidenav' class = 'sidenav_menu col s12 m12 l3 xl2'>
	<div class = 'sidenav_menu_content column space-between col s9 m9 l12 xl12'>
		<div class = 'col s12 margin-auto'>
			<a href = './Accueil.php'><img src = './Img/Logo/logoGP.png'
			                               class = 'responsive-img logo_menu un-surlign'>
			</a>
			<ul class = 'column margin-auto color_a'>
				<li class = 'navigate_link cursor-pointer un-surlign'>Accueil</li>
				<li class = 'navigate_link cursor-pointer un-surlign'>Présentation</li>
				<li class = 'navigate_link cursor-pointer un-surlign'>Partenaires</li>
				<li class = 'navigate_link cursor-pointer un-surlign'>WebTV</li>
				<li class = 'navigate_link cursor-pointer un-surlign'>Contact</li>
				
				{{usertool}}
				
				<li><p id = 'myBtn' class = 'cursor-pointer un-surlign' onclick = "modal('version')">
					version 2.0</p>
				</li>
				<li>
					<p class = 'developped_by'>Developpé par : <span class = 'cursor-pointer un-surlign'
					                                                 onclick = "window.open('http://thomastartas.tk/','_blank')">Thomas Tartas</span>
					</p>
				</li>
			</ul>
		</div>
	</div>
</nav>


<span id = 'hamburger' class = 'hide-on-large-only position-fixed un-surlign' style = 'font-size:30px;cursor:pointer'
      onclick = 'navigateur()'>&#9776;</span>

<!-- END NAVIGATEUR -->

<script>
	$(document).ready(function () {
		$(".sidenav_menu_content").niceScroll({
			cursorcolor: "#713B75",
			cursorwidth: "8px"
		});
	});
</script>