<!-- MODAL VERSION -->

<div id = 'myModal-version' class = 'modal_css'>
	<!-- CONTENT -->
	<div class = 'modal-content'>
		
		<!-- VERSION 2.0.0 -->
		<div>
			<div class = 'collapsible-header cursor-pointer' onclick = "collapsible('version','1')"
			     data-collapsible = 'accordion'>
				<p class = 'title_version valign-wrapper'>Version 2.0</p>
			</div>
			<div id = 'collaps-version-1' class = 'collapsible-body collapsible-body-version'>
				<p>Informations : </p>
				<p class = 'content_informations_version'>Lancement du Site Gaming Palois</p>
				<p></p>
				<p class = 'content_informations_version'>
				</p>
				<p>A venir :</p>
				<p class = 'content_informations_version'>
					-Plein de bonnes choses !
				</p>
			</div>
		</div>
		<!-- END VERSION 2.0.0 -->
	
	</div>
</div>

<!-- END MODAL VERSION-->

<!-- NAVIGATEUR -->

<nav id = 'mySidenav' class = 'sidenav_menu mySidenav col s12 m12 l3 xl2'>
	<div class = 'sidenav_menu_content column col s9 m9 l12 xl12'>
		<div class = 'col s12'>
			<a href = ''><img src = './Img/Logo/logoGP.png'
			                  class = 'responsive-img logo_menu'>
			</a>
			<ul class = 'column margin-auto color_a'>
				<li class = 'navigate_link cursor-pointer' onclick = 'requestEvenements(readData); closeNavigateur()'>
					Événements
				</li>
				<li class = 'navigate_link cursor-pointer' onclick = 'requestPresentation(readData); closeNavigateur()'>
					Présentation
				</li>
				<li class = 'navigate_link cursor-pointer' onclick = 'requestPartenaires(readData); closeNavigateur()'>
					Partenaires
				</li>
				<li class = 'navigate_link cursor-pointer' onclick = 'requestWebTV(readData) ; closeNavigateur()'>
					WebTV
				</li>
				<li class = 'navigate_link cursor-pointer' onclick = 'requestContact(readData); closeNavigateur()'>
					Contact
				</li>
			</ul>
			<div id = 'is_connect'>
				{{usertool}}
			</div>
			<div class = 'col s12'>
				<p id = 'myBtn' class = 'cursor-pointer' onclick = "modal('version')">
					version 2.0</p>
				
				<p class = 'developped_by'>Developpé par : <span class = 'cursor-pointer'
				                                                 onclick = "window.open('http://thomastartas.tk/','_blank')">Thomas Tartas</span>
				</p>
			</div>
		</div>
	</div>
</nav>


<span id = 'hamburger' class = 'hide-on-large-only position-fixed'
      style = 'font-size:30px;cursor:pointer;z-index: 1000'
      onclick = 'navigateur()'>&#9776;</span>

<!-- END NAVIGATEUR -->